body{
    background-image: url(image/istockphoto-1353553203-170667a.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 90vh;
}
.header{
    display: flex;
    justify-content: space-between;
}
a{
    padding: 15px;
    text-decoration-line: none;
    color: white;
    font-size: 20px;
}
.center{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
}

a:hover{
    background-color:bisque;
    color: black;
    transition: 0.5s;
    cursor: pointer;
}
.center h1:hover{
    cursor: pointer;
    color: blue;
}